h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
p {
  font-size: 18px;
}
h1 {
  font-family: 'Oswald';
}
h2 {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
}
h3 {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
}
.h2-sec1 {
  padding-bottom: 25px;
}
.h2-center {
  text-align: center;
}
.h3-sec1 {
  padding-bottom: 10px;
  font-size: 30px;
  line-height: 40px;
}
.h3-fz20-lh27 {
  font-size: 20px;
  line-height: 27px;
  padding-bottom: 5px;
}
.h4-footer {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
div {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 16px;
  font-family: 'Roboto';
}
body #content {
  position: relative;
  overflow: hidden;
}
a {
  color: #252525;
}
a:hover {
  color: #252525;
}
.button {
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
  color: #2D2D2D;
  border: none;
  padding: 14px 40px 12px;
  font-size: 16px;
}
.button:hover {
  text-decoration: none;
}
.yellow {
  background-color: #FEE343;
}
.btn-header {
  border-radius: 10px;
}
.btn-header:hover {
  background-color: rgba(254, 227, 67, 0.5);
}
.btn-content {
  border-radius: 15px;
}
.btn-content:hover {
  box-shadow: inset 2px -7px 11px rgba(80, 92, 51, 0.17);
}
.big-container {
  max-width: 1410px;
}
.header-container {
  display: flex;
  padding: 10px 0 14px;
  position: fixed;
  width: 100%;
  z-index: 2;
  transition: all 250ms linear;
  color: #252525;
  top: 0;
  background-color: rgba(255, 255, 255, 0.77);
  box-shadow: 0px 4px 8px #26260038;
}
.header-container .menu-item {
  list-style-type: none;
  text-transform: uppercase;
  margin-left: 40px;
  align-items: center;
  display: flex;
}
.header-container .menu-item a {
  font-weight: 300;
}
.header-container .button-wrapper-header {
  display: inline-flex;
}
.header-container .button-wrapper-header a {
  font-weight: 700;
}
.header-container .header-wrapper {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header-container .header-wrapper .logo-menu-wrapp {
  display: flex;
}
.header-container .header-wrapper .logo-menu-wrapp .header-logo {
  max-height: 48px;
  max-width: 200px;
  margin-right: 10px;
}
.header-container .header-wrapper .logo-menu-wrapp .header-menu {
  margin: auto 0;
}
.header-container .header-wrapper .logo-menu-wrapp .header-menu .menu-header-menu {
  display: flex;
  margin: 0;
}
.header-container .header-wrapper .logo-menu-wrapp .header-menu .menu-header-menu #menu-item-1:hover .hover-menu {
  display: block;
}
.header-container .header-wrapper .logo-menu-wrapp .header-menu .hover-menu {
  display: none;
  position: absolute;
  top: 45px;
  background-color: #FFFFFF;
  padding: 20px 80px 20px 20px;
  text-transform: none;
  box-shadow: 0px 4px 8px rgba(164, 164, 164, 0.17);
}
.header-container .header-wrapper .logo-menu-wrapp .header-menu .hover-menu li:not(:last-child) {
  padding-bottom: 25px;
}
.header-container .header-wrapper .logo-menu-wrapp .header-menu .hover-menu li:last-child {
  padding-top: 20px;
  border-top: 1px solid #F1F0F0;
}
.header-container .header-wrapper .header-right-menu {
  display: flex;
}
.header-container .header-wrapper .header-right-menu .bill-switch {
  cursor: pointer;
}
.header-container .header-wrapper .header-right-menu .bill-switch .container-currency {
  display: flex;
  flex-direction: column;
  height: 25px;
}
.header-container .header-wrapper .header-right-menu .bill-switch .container-currency .currency {
  display: none;
  order: 1;
}
.header-container .header-wrapper .header-right-menu .bill-switch .container-currency .select {
  display: block;
  order: 0;
}
.header-container .header-wrapper .header-right-menu .bill-switch:hover .currency {
  display: block;
}
.header-container .header-wrapper .header-right-menu .bill-switch .bill-switch-chevron-wrapp {
  margin-left: 5px;
}
.header-container .header-wrapper .header-right-menu .registration-wrapp {
  cursor: pointer;
}
.header-container .header-wrapper .toggle {
  display: none;
  background: none;
  position: absolute;
  right: 35px;
  line-height: 45px;
  padding: 0 15px 0px 15px;
  color: #808080;
  border: 0;
  font-size: 2.4em;
  font-weight: bold;
  cursor: pointer;
}
.header-container .header-wrapper .cross {
  display: none;
  background: none;
  position: absolute;
  right: 35px;
  padding: 0 15px 0px 15px;
  color: #808080;
  border: 0;
  font-size: 4em;
  line-height: 65px;
  font-weight: bold;
  cursor: pointer;
}
.button-wrapper {
  display: flex;
}
#content {
  margin-top: 75px;
}
.top-banner-wrapper {
  background-image: url('/assets/img/banner-img.png');
  -webkit-animation: wave 5s;
  animation: wave 5s;
  animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  position: relative;
  padding: 212px 0 254px;
  background-position: center;
  background-repeat: no-repeat;
}
@keyframes wave {
  0% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 90% 89%, 81% 91%, 69% 92%, 58% 93%, 48% 93%, 29% 92%, 12% 92%, 0% 89%);
    z-index: 0;
  }
  50% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 92%, 91% 92%, 83% 93%, 69% 92%, 58% 93%, 34% 92%, 21% 90%, 12% 88%, 0% 85%);
    z-index: 0;
  }
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 90% 89%, 81% 91%, 69% 92%, 58% 93%, 48% 93%, 29% 92%, 12% 92%, 0% 89%);
    z-index: 0;
  }
}
.top-banner-wrapper .title-container .subtitile-banner {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}
.top-banner-wrapper .title-container .h1-banner {
  font-weight: 600;
  font-size: 48px;
  line-height: 65px;
  margin-bottom: 30px;
}
.under-banner-menu {
  display: flex;
  justify-content: space-around;
  font-family: 'Oswald';
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
}
.under-banner-menu .items-banner-menu {
  position: absolute;
}
.under-banner-menu .item-1 {
  left: 0;
  bottom: 10px;
  z-index: 1;
}
#section-1-how-it-work {
  padding: 100px 0 40px;
}
#section-1-how-it-work .items-col {
  display: flex;
}
#section-1-how-it-work .items-col p {
  display: flex;
  align-items: center;
}
#section-1-how-it-work .block-1 {
  padding-bottom: 165px;
}
#section-1-how-it-work .block-2 {
  position: relative;
}
#section-1-how-it-work .block-2 .hover-spot {
  position: absolute;
  display: none;
  left: -284px;
  top: -245px;
  z-index: 0;
}
#section-1-how-it-work .block-2 .fruits-img-wrapp,
#section-1-how-it-work .block-2 .col-md-5 {
  z-index: 1;
}
#section-1-how-it-work .block-2:hover .hover-spot {
  display: block;
}
#section-1-how-it-work .block-2 p {
  padding-bottom: 20px;
}
#section-1-how-it-work .img-wrapp-strawberry {
  display: flex;
  justify-content: right;
}
#section-2-best-sellers {
  padding-bottom: 160px;
}
#section-2-best-sellers .h2-center {
  padding-bottom: 60px;
}
#section-2-best-sellers .bg-spot {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 1.5s;
}
#section-2-best-sellers a {
  text-decoration: none;
}
#section-2-best-sellers .col-lg {
  position: relative;
}
#section-2-best-sellers .col-lg:hover .button-wrapper-detail {
  display: flex;
}
#section-2-best-sellers .button-wrapper-detail {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  padding-top: 40px;
}
#section-2-best-sellers .bg-spot-red {
  background-image: url("/assets/img/spot-pink.png");
}
#section-2-best-sellers .bg-spot-red:hover {
  background-image: url("/assets/img/spot-yellow.png");
}
#section-2-best-sellers .bg-spot-green {
  margin-top: 130px;
  background-image: url("/assets/img/spot-green.png");
}
#section-2-best-sellers .bg-spot-green:hover {
  background-image: url("/assets/img/spot-purple2.png");
}
#section-2-best-sellers .bg-spot-purple {
  background-image: url("/assets/img/spot-purlple.png");
}
#section-2-best-sellers .bg-spot-purple:hover {
  background-image: url("/assets/img/spot-yellow.png");
}
#section-2-best-sellers .bg-spot-purple2 {
  margin-top: 130px;
  background-image: url("/assets/img/spot-purple2.png");
}
#section-2-best-sellers .bg-spot-purple2:hover {
  background-image: url("/assets/img/spot-green.png");
}
#section-2-best-sellers .bg-spot-yellow {
  background-image: url("/assets/img/spot-yellow.png");
}
#section-2-best-sellers .bg-spot-yellow:hover {
  background-image: url("/assets/img/spot-pink.png");
}
#section-3-explore-products .container-sec-3 {
  background-image: url("/assets/img/bg-spot-grey.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0 105px 135px 185px;
}
#section-3-explore-products .h2-center {
  padding-bottom: 40px;
}
#section-3-explore-products .p-product {
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}
#section-3-explore-products .product-img {
  padding-bottom: 40px;
}
#section-4-from-our {
  padding-bottom: 100px;
}
#section-4-from-our .h2-center {
  padding-bottom: 30px;
}
#section-4-from-our .reviews {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
#section-4-from-our .reviews .review-cont .img-wrapp {
  text-align: center;
}
#section-4-from-our .reviews .review-cont .img-wrapp ul {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}
#section-4-from-our .reviews .review-cont .img-wrapp ul li:not(:last-child) {
  padding-right: 5px;
}
#section-4-from-our .reviews .review-cont p {
  padding-bottom: 15px;
  font-weight: 300;
  text-align: center;
}
#section-4-from-our .name {
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
}
.slider {
  display: flex;
}
.slick-track {
  display: flex;
  height: 100%;
}
#section-5-social {
  padding-bottom: 120px;
}
#section-5-social .h2-center {
  padding-bottom: 25px;
}
#section-5-social .img-social img:hover {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}
@-webkit-keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
#section-6-representatives-logo {
  padding-bottom: 120px;
}
#section-6-representatives-logo .slider-representatives {
  padding-bottom: 30px;
}
#section-6-representatives-logo .slider-representatives .slick-current {
  background-image: url(/assets/img/spot-yellow-hover-repres.svg);
  background-repeat: no-repeat;
  background-position: center;
}
#section-6-representatives-logo .slider-representatives .slick-track {
  align-items: center;
}
#section-6-representatives-logo .slider-representatives .repr-block {
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  min-height: 112px;
}
#section-6-representatives-logo .slider-representatives .repr-block:hover {
  background-image: url(/assets/img/spot-yellow-hover-repres.svg);
  background-repeat: no-repeat;
  background-position: center;
}
#section-6-representatives-logo .slider-representatives-for {
  text-align: center;
}
#section-6-representatives-logo .slider-representatives-for .p-repres {
  font-style: italic;
  font-weight: 300;
  font-size: 28px;
  line-height: 42px;
}
#section-7-more-from-revive {
  padding-bottom: 30px;
}
#section-7-more-from-revive h2 {
  padding-bottom: 10px;
}
#section-7-more-from-revive .mfr-block-2 {
  position: relative;
  padding-bottom: 88px;
}
#section-7-more-from-revive .mfr-block-2 img {
  padding-bottom: 20px;
}
#section-7-more-from-revive .mfr-block-3 {
  max-width: 995px;
  margin: auto;
}
footer {
  border-top: 1px solid #F1F0F0;
  padding-top: 50px;
}
footer .footer-wrapp {
  padding-bottom: 40px;
}
footer .menu-footer {
  display: flex;
}
footer .menu-footer ul li:not(:last-child) {
  padding-bottom: 15px;
}
footer .menu-footer ul:not(:last-child) {
  padding-right: 60px;
}
footer .copyr {
  text-align: center;
  background-color: #f1f1f1;
  padding: 15px 0;
}
footer .copyr p {
  font-size: 16px;
  line-height: 19px;
  color: #A9A9A9;
}
footer .footer-logo {
  padding-bottom: 30px;
}
footer .footer-logo-mob {
  display: none;
  padding-bottom: 50px;
  text-align: center;
}
footer .footer-p {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  padding-bottom: 15px;
}
footer .input-footer {
  border: 1px solid #A9A9A9;
  box-sizing: border-box;
  border-radius: 15px;
  width: 415px;
  height: 45px;
  appearance: none;
  outline-width: 0;
  background-image: url(/assets/img/input-footer-arrow.svg);
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
  margin-bottom: 15px;
}
footer input[value="Email Address"] {
  font-size: 16px;
  line-height: 19px;
  color: #A9A9A9;
  padding-left: 25px;
}
footer .social-wrapper {
  padding-bottom: 20px;
  display: flex;
}
footer .social-wrapper a:not(:last-child) {
  padding-right: 10px;
}
footer .region {
  display: flex;
}
footer .region p {
  padding-right: 28px;
}
footer .region .flags {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 30px;
}
footer .region .flags img {
  display: none;
  order: 1;
}
footer .region .flags img.select-country {
  order: 0;
  padding-bottom: 10px;
  display: block;
}
footer .region .flags:hover img {
  display: block;
}
footer .region .flags .canada-flag {
  cursor: pointer;
  padding-bottom: 10px;
}
footer .region .flags .america-flag {
  cursor: pointer;
  width: 42px;
}
