@--grey: #808080;
@--dark: #252525;
@--black: #000000;
@--dark-2: #2D2D2D;
@--yellow: #FEE343;



h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

p {
    font-size: 18px;
}

h1 {
    font-family: 'Oswald';
}

h2 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
}

h3 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
}

.h2-sec1 {
    padding-bottom: 25px;
}

.h3-sec1 {
    padding-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

div {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto';

    #page {
        position: relative;
        overflow: hidden;
    }
}

a {
    color: @--dark;

    &:hover {
        color: @--dark;
    }
}

.button-wrapper-header {
    display: inline-flex;
    a {
        font-weight: 700;
    }
}

.button {
    font-weight: 700;
    line-height: 24px;
    cursor: pointer;
    color: @--dark-2;
    border: none;
    padding: 14px 40px 12px;
    font-size: 16px;

    &:hover {
        text-decoration: none;
    }
}

.yellow {
    background-color: @--yellow;
}

.btn-header {
    border-radius: 10px;

    &:hover {
        background-color: rgba(254, 227, 67, 0.5);
    }
}

.btn-content {
    border-radius: 15px;

    &:hover {
        box-shadow: inset 2px -7px 11px rgba(80, 92, 51, 0.17);
    }
}

.big-container {
    max-width: 1410px;
}


.header-container {
    display: flex;
    padding: 10px 0 14px;
    position: fixed;
    width: 100%;
    z-index: 2;
    transition: all 250ms linear;
    color: @--dark;
    top: 0;

    .menu-item {
        list-style-type: none;
        text-transform: uppercase;
        margin-left: 40px;
        align-items: center;
        display: flex;

        a {
            font-weight: 300;
        }
    }

    .header-wrapper {
        min-width: 1780px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .logo-menu-wrapp {
            display: flex;

            .header-logo {
                max-height: 48px;
                max-width: 200px;
                margin-right: 10px;
            }

            .header-menu {
                margin: auto 0;

                .menu-header-menu {
                    display: flex;
                    margin: 0;
                }

                .hover-menu {
                    display: none;
                }
            }
        }

        .header-right-menu {
            display: flex;

            .bill-switch {
                cursor: pointer;

                .bill-switch-chevron-wrapp {
                    margin-left: 5px;
                }
            }

            .registration-wrapp {
                cursor: pointer;
            }


        }

        .toggle {
            display: none;
            background: none;
            position: absolute;
            right: 35px;
            line-height: 45px;
            padding: 0 15px 0px 15px;
            color: @--grey;
            border: 0;
            font-size: 2.4em;
            font-weight: bold;
            cursor: pointer;
        }

        .cross {
            display: none;
            background: none;
            position: absolute;
            right: 35px;
            padding: 0 15px 0px 15px;
            color: @--grey;
            border: 0;
            font-size: 4em;
            line-height: 65px;
            font-weight: bold;
            cursor: pointer;
        }
    }
}

#content {
    margin-top: 75px;
}

.top-banner-wrapper {
    background-image: url('/assets/img/banner-img.png');
    position: relative;
    padding: 212px 0 254px;
    background-position: center;
    background-repeat: no-repeat;

    .title-container {
        .subtitile-banner {
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            color: @--black;
        }

        .h1-banner {
            font-weight: 600;
            font-size: 48px;
            line-height: 65px;
            margin-bottom: 30px;
        }
    }

    .button-wrapper {
        display: flex;
    }


}

.under-banner-menu {
    display: flex;
    justify-content: space-around;
    font-family: 'Oswald';
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
}

#section-1-how-it-work {
    padding: 100px 0 50px;

    .items-col {
        display: flex;
        p {
            display: flex;
            align-items: center;
        }
    }

    .block-1 {
        padding-bottom: 165px;
    }

    .block-2 {
        p {
            padding-bottom: 20px;
        }
    }
}