@--grey: #808080;
@--grey-2: #f1f1f1;
@--grey-3 :#A9A9A9;
@--grey-light: #F1F0F0;
@--dark: #252525;
@--black: #000000;
@--dark-2: #2D2D2D;
@--yellow: #FEE343;



h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

p {
    font-size: 18px;
}

h1 {
    font-family: 'Oswald';
}

h2 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
}

h3 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;

}

.h2-sec1 {
    padding-bottom: 25px;
}

.h2-center {
    text-align: center;
}

.h3-sec1 {
    padding-bottom: 10px;
    font-size: 30px;
    line-height: 40px;
}

.h3-fz20-lh27 {
    font-size: 20px;
    line-height: 27px;
    padding-bottom: 5px;
}

.h4-footer {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

div {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto';

    #content {
        position: relative;
        overflow: hidden;
    }
}

a {
    color: @--dark;

    &:hover {
        color: @--dark;
    }
}



.button {
    font-weight: 700;
    line-height: 24px;
    cursor: pointer;
    color: @--dark-2;
    border: none;
    padding: 14px 40px 12px;
    font-size: 16px;

    &:hover {
        text-decoration: none;
    }
}

.yellow {
    background-color: @--yellow;
}

.btn-header {
    border-radius: 10px;

    &:hover {
        background-color: rgba(254, 227, 67, 0.5);
    }
}

.btn-content {
    border-radius: 15px;

    &:hover {
        box-shadow: inset 2px -7px 11px rgba(80, 92, 51, 0.17);
    }
}

.big-container {
    max-width: 1410px;
}


.header-container {
    display: flex;
    padding: 10px 0 14px;
    position: fixed;
    width: 100%;
    z-index: 2;
    transition: all 250ms linear;
    color: @--dark;
    top: 0;
    background-color: rgba(255, 255, 255, .77);

    .menu-item {
        list-style-type: none;
        text-transform: uppercase;
        margin-left: 40px;
        align-items: center;
        display: flex;

        a {
            font-weight: 300;
        }
    }

    .button-wrapper-header {
        display: inline-flex;

        a {
            font-weight: 700;
        }
    }

    .header-wrapper {

        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .logo-menu-wrapp {
            display: flex;

            .header-logo {
                max-height: 48px;
                max-width: 200px;
                margin-right: 10px;
            }

            .header-menu {
                margin: auto 0;

                .menu-header-menu {
                    display: flex;
                    margin: 0;
                }

                .hover-menu {
                    display: none;
                }
            }
        }

        .header-right-menu {
            display: flex;

            .bill-switch {
                cursor: pointer;

                .bill-switch-chevron-wrapp {
                    margin-left: 5px;
                }
            }

            .registration-wrapp {
                cursor: pointer;
            }


        }

        .toggle {
            display: none;
            background: none;
            position: absolute;
            right: 35px;
            line-height: 45px;
            padding: 0 15px 0px 15px;
            color: @--grey;
            border: 0;
            font-size: 2.4em;
            font-weight: bold;
            cursor: pointer;
        }

        .cross {
            display: none;
            background: none;
            position: absolute;
            right: 35px;
            padding: 0 15px 0px 15px;
            color: @--grey;
            border: 0;
            font-size: 4em;
            line-height: 65px;
            font-weight: bold;
            cursor: pointer;
        }
    }
}

.button-wrapper {
    display: flex;
}

#content {
    margin-top: 75px;
}

.top-banner-wrapper {
    background-image: url('/assets/img/banner-img.png');
    position: relative;
    padding: 212px 0 254px;
    background-position: center;
    background-repeat: no-repeat;

    .title-container {
        .subtitile-banner {
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            color: @--black;
        }

        .h1-banner {
            font-weight: 600;
            font-size: 48px;
            line-height: 65px;
            margin-bottom: 30px;
        }
    }
}

.under-banner-menu {
    display: flex;
    justify-content: space-around;
    font-family: 'Oswald';
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
}

#section-1-how-it-work {
    padding: 100px 0 40px;

    .items-col {
        display: flex;

        p {
            display: flex;
            align-items: center;
        }
    }

    .block-1 {
        padding-bottom: 165px;
    }

    .block-2 {
        .fruits-img-wrapp {
            // background-image: url("/assets/img/spot-grey-best-sellers-hover.svg");

            &:hover {}
        }

        p {
            padding-bottom: 20px;
        }
    }

    .img-wrapp-strawberry {
        display: flex;
        justify-content: right;
    }
}

#section-2-best-sellers {
    padding-bottom: 160px;

    .h2-center {
        padding-bottom: 60px;
    }

    .bg-spot {
        position: relative;
        background-size: contain;
        background-repeat: no-repeat;
        transition: 1.5s;
        &:hover {
            .button-wrapper {
                display: block;
            }
        }
    }

    .button-wrapper {
        // display: none;
        justify-content: center;
        padding-top: 40px;
    }

    .bg-spot-red {
        background-image: url("/assets/img/spot-pink.png");

        &:hover {
            background-image: url("/assets/img/spot-yellow.png");
        }
    }

    .bg-spot-green {
        background-image: url("/assets/img/spot-green.png");

        &:hover {
            background-image: url("/assets/img/spot-purple2.png");
        }
    }

    .bg-spot-purple {
        background-image: url("/assets/img/spot-purlple.png");

        &:hover {
            background-image: url("/assets/img/spot-yellow.png");
        }
    }

    .bg-spot-purple2 {
        background-image: url("/assets/img/spot-purple2.png");

        &:hover {
            background-image: url("/assets/img/spot-green.png");
        }
    }

    .bg-spot-yellow {
        background-image: url("/assets/img/spot-yellow.png");

        &:hover {
            background-image: url("/assets/img/spot-pink.png");
        }
    }

}

#section-3-explore-products {


    .container-sec-3 {
        background-image: url("/assets/img/bg-spot-grey.png");
        background-size: contain;
        background-repeat: no-repeat;
        padding: 0 105px 135px 185px;
    }

    .h2-center {
        padding-bottom: 40px;
    }

    .p-product {
        font-weight: 300;
        font-size: 16px;
        line-height: 21px;
        color: @--black;
    }

    .product-img {
        padding-bottom: 40px;
    }
}

#section-4-from-our {
    padding-bottom: 100px;

    .h2-center {
        padding-bottom: 30px;
    }

    .reviews {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;

        .review-cont {
            .img-wrapp {
                text-align: center;

                img {
                    display: initial;
                    padding-bottom: 15px;
                }
            }

            p {
                padding-bottom: 15px;
                font-weight: 300;
                text-align: center;
            }
        }
    }

    .name {
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
    }
}

.slider {
    display: flex;
}

.slick-track {
    display: flex;
    height: 100%;
}

#section-5-social {
    padding-bottom: 120px;

    .h2-center {
        padding-bottom: 25px;
    }

    .img-social {
        img {
            &:hover {
                opacity: 1;
                -webkit-animation: flash 1.5s;
                animation: flash 1.5s;
            }
        }
    }
}

@-webkit-keyframes flash {
    0% {
        opacity: .4;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: .4;
    }

    100% {
        opacity: 1;
    }
}


#section-6-representatives-logo {
    padding-bottom: 120px;



    .slider-representatives {
        padding-bottom: 30px;

        .slick-current {
            background-image: url(/assets/img/spot-yellow-hover-repres.svg);
            background-repeat: no-repeat;
            background-position: center;
        }

        .slick-track {
            align-items: center;
        }

        .repr-block {
            align-items: center;
            display: flex;
            justify-content: center;
            cursor: pointer;
            min-height: 112px;


            &:hover {
                background-image: url(/assets/img/spot-yellow-hover-repres.svg);
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }

    .slider-representatives-for {
        text-align: center;

        .p-repres {
            font-style: italic;
            font-weight: 300;
            font-size: 28px;
            line-height: 42px;
        }
    }
}

#section-7-more-from-revive {
    padding-bottom: 30px;

    h2 {
        padding-bottom: 10px;
    }

    .mfr-block-2 {
        padding-bottom: 88px;
        img {
            padding-bottom: 20px;
        }
    }

    .mfr-block-3 {
        max-width: 995px;
        margin: auto;
    }
}

footer {
    border-top: 1px solid @--grey-light;
    padding-top: 50px;

    .footer-wrapp {
        padding-bottom: 40px;
    }

    .menu-footer {
        display: flex;

        ul {
            li:not(:last-child) {
                padding-bottom: 15px;
            }
        }

        ul:not(:last-child) {
            padding-right: 60px;
        }
    }

    .copyr {
        text-align: center;
        background-color: @--grey-2;
        padding: 15px 0;

        p {
            font-size: 16px;
            line-height: 19px;
            color: @--grey-3;
        }
    }

    .footer-logo {
        padding-bottom: 30px;
    }

    .footer-p {
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        padding-bottom: 15px;
    }

    .input-footer {
        border: 1px solid @--grey-3;
        box-sizing: border-box;
        border-radius: 15px;
        width: 415px;
        height: 45px;
        appearance: none;
        outline-width: 0;
        background-image: url(/assets/img/input-footer-arrow.svg);
        background-repeat: no-repeat;
        background-position-x: 95%;
        background-position-y: 50%;
        margin-bottom: 15px;
    }

    input[value="Email Address"] {
        font-size: 16px;
        line-height: 19px;
        color: @--grey-3;
        padding-left: 25px;
    }

    .social-wrapper {
        padding-bottom: 20px;
        display: flex;

        a:not(:last-child) {
            padding-right: 10px;
        }
    }

    .region {
        display: flex;

        p {
            padding-right: 28px;
        }

        .flags {
            display: flex;
            position: relative;
            flex-direction: column;

            .canada-flag {
                cursor: pointer;
                padding-bottom: 5px;
            }

            .america-flag {
                display: none;
                position: absolute;
                top: 40px;
                cursor: pointer;
                width: 42px;
            }
        }

    }

}