@media (min-width: 1775px) {
  .header-container .header-wrapper {
    min-width: 1780px;
  }


  .container-sec-2 {
    min-width: 1890px;
    padding-right: 0;
  }

  .container-sec-3 {
    min-width: 1670px;
  }

  .container-sec-4 {
    min-width: 1300px;
  }

  .container1365 {
    min-width: 1365px;
  }

}

@media (min-width: 1200px) {
  .header-container .header-wrapper {
    max-width: 1440px;
  }

  .container-sec-2 {
    min-width: 100%;
  }
}

@media (max-width: 1200px) {
  footer .input-footer {
    width: 100%;
  }
}


@media all and (max-width: 992px) {
  #content {
    margin-top: 66px;
    text-align: center;
  }

  .header-container {
    .header-wrapper {
      display: block;

      .header-right-menu {
        display: none;
      }

      .logo-menu-wrapp {
        flex-direction: column;

        .header-menu {
          margin-top: 15px;
          width: 100%;

          ul {
            flex-direction: column;
            padding: 0;
            text-align: center;
            font-size: 25px;

            li {
              padding: 10px 0;
              margin: 0;
            }
          }
        }
      }

      .button-wrapper-header {
        display: none;
      }
    }
  }

  .top-banner-wrapper {
    padding: 150px 0 254px;
  }

  .under-banner-menu {
    display: none;
  }

  .col-md-4.items-col {
    justify-content: center;
  }

  .button-wrapper {
    justify-content: center;
  }

  #section-1-how-it-work {
    .block-1 {
      padding-bottom: 100px;
    }

    .block-2 {
      img {
        padding-bottom: 20px;
      }
    }

    .img-wrapp-strawberry {
      display: none;
    }
  }

  #section-2-best-sellers {
    padding-bottom: 100px;

    .h2-center {
      padding-bottom: 25px;
    }

    .bg-spot {
      background-position: center;

      img {
        margin: auto;
      }
    }

    .button-wrapper-detail {
      display: flex;
      position: relative;
      padding-top: 15px;
    }

    .bg-spot {
      margin-top: 30px;
    }


  
  }

  #section-3-explore-products {
    padding-bottom: 100px;

    .h2-center {
      padding-bottom: 25px;
    }

    .col-lg:not(:last-child) {
      margin-bottom: 40px;
    }

    img {
      margin: auto;
    }

    .container-sec-3 {
      background: none;
      margin: auto;
      padding: 0 15px;
    }
  }

  #section-4-from-our {
    .h2-center {
      padding-bottom: 25px;
    }
  }

  #section-5-social {
    padding-bottom: 100px;

    .col-md:not(:last-child) {
      margin-bottom: 40px;
    }

    img {
      margin: auto;
    }
  }

  #section-6-representatives-logo {
    padding-bottom: 100px;
  }

  #section-7-more-from-revive {
    padding-bottom: 50px;

    .col-md:not(:last-child) {
      margin-bottom: 40px;
    }

    .mfr-block-2 {
      img {
        margin: auto;
      }
    }
  }

  .mfr-block-3 {
    img {
      margin: auto;
    }
  }

  footer {
    .menu-footer {
      padding-bottom: 40px;
      ul:not(:last-child) {
        padding-right: 20px;
      }
    }
  }
  

}

@media (max-width: 576px) {
  #section-2-best-sellers {
    .bg-spot {
      img {
        margin: auto;
        margin-left: 15%;
      }
    }
  }

  footer {
    .footer-logo {
      display: none;
    }

    .footer-logo-mob  {
      display: block;
    }
  }
}