@media (min-width: 1775px) {
  .header-container .header-wrapper {
    min-width: 1780px;
  }
  .container-sec-2 {
    min-width: 1890px;
  }
  .container-sec-3 {
    min-width: 1670px;
  }
  .container-sec-4 {
    min-width: 1300px;
  }
  .container1365 {
    min-width: 1365px;
  }
}
@media (min-width: 1200px) {
  .header-container .header-wrapper {
    max-width: 1440px;
  }
  .container-sec-2 {
    min-width: 100%;
  }
}
@media (max-width: 1200px) {
  footer .input-footer {
    width: 100%;
  }
}
@media all and (max-width: 992px) {
  #content {
    margin-top: 66px;
    text-align: center;
  }
  .header-container .header-wrapper {
    display: block;
  }
  .header-container .header-wrapper .header-right-menu {
    display: none;
  }
  .header-container .header-wrapper .logo-menu-wrapp {
    flex-direction: column;
  }
  .header-container .header-wrapper .logo-menu-wrapp .header-menu {
    margin-top: 15px;
    width: 100%;
  }
  .header-container .header-wrapper .logo-menu-wrapp .header-menu ul {
    flex-direction: column;
    padding: 0;
    text-align: center;
    font-size: 25px;
  }
  .header-container .header-wrapper .logo-menu-wrapp .header-menu ul li {
    padding: 10px 0;
    margin: 0;
  }
  .header-container .header-wrapper .button-wrapper-header {
    display: none;
  }
  .top-banner-wrapper {
    padding: 150px 0 254px;
  }
  .col-md-4.items-col {
    justify-content: center;
  }
  .button-wrapper {
    justify-content: center;
  }
  #section-1-how-it-work .block-1 {
    padding-bottom: 100px;
  }
  #section-1-how-it-work .block-2 img {
    padding-bottom: 20px;
  }
  #section-1-how-it-work .img-wrapp-strawberry {
    display: none;
  }
  #section-2-best-sellers {
    padding-bottom: 100px;
  }
  #section-2-best-sellers .h2-center {
    padding-bottom: 25px;
  }
  #section-2-best-sellers .bg-spot {
    background-position: center;
  }
  #section-2-best-sellers .bg-spot img {
    margin: auto;
  }
  #section-3-explore-products {
    padding-bottom: 100px;
  }
  #section-3-explore-products .h2-center {
    padding-bottom: 25px;
  }
  #section-3-explore-products .col-lg:not(:last-child) {
    margin-bottom: 40px;
  }
  #section-3-explore-products img {
    margin: auto;
  }
  #section-3-explore-products .container-sec-3 {
    background: none;
    margin: auto;
    padding: 0 15px;
  }
  #section-4-from-our .h2-center {
    padding-bottom: 25px;
  }
  #section-5-social {
    padding-bottom: 100px;
  }
  #section-5-social .col-md:not(:last-child) {
    margin-bottom: 40px;
  }
  #section-5-social img {
    margin: auto;
  }
  #section-6-representatives-logo {
    padding-bottom: 100px;
  }
  #section-7-more-from-revive {
    padding-bottom: 50px;
  }
  #section-7-more-from-revive .col-md:not(:last-child) {
    margin-bottom: 40px;
  }
  #section-7-more-from-revive .mfr-block-2 img {
    margin: auto;
  }
  .mfr-block-3 img {
    margin: auto;
  }
  footer .menu-footer {
    padding-bottom: 40px;
  }
  footer .menu-footer ul:not(:last-child) {
    padding-right: 20px;
  }
}
@media (max-width: 576px) {
  #section-2-best-sellers .bg-spot img {
    margin: auto;
    margin-left: 15%;
  }
}
