@media (min-width: 1775px) {
  .header-container .header-wrapper {
    min-width: 1780px;
  }


    .container-sec-2 {
      min-width: 1890px;
    }

}

@media (min-width: 1200px) {
  .header-container .header-wrapper {
    max-width: 1440px;
  }

  .container-sec-2 {
    min-width: 100%;
  }
}


@media all and (max-width: 992px) {}

@media (max-width: 576px) {}